<div class="product__accordion accordion" {{ block.shopify_attributes }}>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary>
      <div class="summary__title">
        {% render 'icon-accordion', icon: block.settings.icon %}
        <h2 class="h4 accordion__title">
          {{ block.settings.heading | default: block.settings.page.title }}
        </h2>
      </div>
      {% render 'icon-caret' %}
    </summary>
    <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
      {{ block.settings.content }}
      {{ block.settings.page.content }}
    </div>
  </details>
</div>
