<a href="{{ article.url }}" class="hover:opacity-50 transition-all">
  <time class="col-span-1 text-link-gray text-12" datetime="{{ article.published_at | date: "%b %d, %y" }}">{{ article.published_at | date: "%Y.%m.%d" }}</time>
  <span class="col-span-1 text-link-gray ml-4 text-12">
    {{ article.tags | first }}
  </span>
  <p class="lineClamp2 col-span-3  block my-2 text-14 font-bold  text-base-text">{{ article.title }}</p>
  {% if article.excerpt != '' %}
    <p>{{ article.excerpt }}</p>
  {% else %}
    <p>{{ article.content | strip_html | truncate: 50 }}</p>
  {% endif %}
</a>