<a href="{{ card_product.url }}" class="w-full inline-block">
  <dl class="products-card w-full">
    <dt class="mb-4 aspect-[3/4]">
      {% if card_product.featured_image == nil %}
        <img src={{ 'default.jpg' | asset_img_url }} class="w-full h-full object-cover" loading="lazy">
      {% else %}
        <img src={{ card_product.featured_image | image_url }} class="w-full h-full object-cover" loading={% if lazy_load == true %}"lazy"{% else %}"eager"{% endif %}>
      {% endif %}
    </dt>
    <dd class="px-2">
      <dl>
      {% if card_product.available != true %}
        <dd>SOLD OUT</dd>
      {% endif %}
      <dt class="text-13 leading-snug inline-block">{{ card_product.title }}</dt>
      <dd class="text-11">
        {{ card_product.price | money }}
        <span>(税込)</span>
      </dd>
      {% if card_product.tags != blank %}
        <dd class="text-10 mt-4">
          {% for tag in card_product.tags %}
            {% render 'product-tag-btn', tag: tag %}
          {% endfor %}
        </dd>
      {% endif %}
      </dl>
    </dd>
  </dl>
</a>