{{ 'category-menu.css' | asset_url | stylesheet_tag }}
<script src="{{ 'CategoryMenu.js' | asset_url }}" type="module" defer></script>

<script id="inline-json-category" type="application/json">
{% raw %}{{% endraw %}
  "nav": [
  {% for link in menulink %}
    {% assign max = menulink.size | plus: 0 %}
    {% raw %}{{% endraw %}
    "id": "{{ link.url | escape }}-{{ forloop.index }}",
    "title": "{{ link.title }}",
    "url": "{{ link.url }}",
    "handle": "{{ link.handle }}",
    "links": [
      {% for childlink in link.links %}
        {% assign child_max = link.links.size | plus: 0 %}
        {% raw %}{{% endraw %}
          "id": "{{ childlink.url | escape }}-{{ forloop.index }}",
          "title": "{{ childlink.title }}",
          "url": "{{ childlink.url }}"
        {% raw %}}{% endraw %}{% unless forloop.index == child_max %},{% endunless %}
      {% endfor %}]
    {% raw %}}{% endraw %}{% unless forloop.index == max %},{% endunless %}
  {% endfor %}
{% raw %}]}{% endraw %}
</script>

<div id="app-category-menu"></div>