<li class="list-menu__item facets__item">
  <label for="Filter-{{ filter.label | escape }}-{{ index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
    <input type="checkbox"
      name="{{ value.param_name }}"
      value="{{ value.value }}"
      id="Filter-{{ filter.label | escape }}-{{ index }}"
      {% if value.active %}checked{% endif %}
      {% if value.count == 0 and value.active == false %}disabled{% endif %}
    >

    {% assign colorValue = value.label | escape | downcase %}
    <svg class="fill-v-{{- colorValue -}}" width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
      <rect width="16" height="16" stroke="#818181" stroke-width="1"></rect>
    </svg>
      
    <svg class="icon icon-checkmark"
      width="1.1rem"
      height="0.7rem"
      viewBox="0 0 11 7"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">

      <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
        stroke="currentColor"
        stroke-width="1.75"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>

    {{ value.label | escape }}
  </label>
</li>