<div id="FacetsWrapperDesktop" class="facets__wrapper">
  {%- for filter in results.filters -%}
    {% comment %} Colorのみ設定しないとProduct Type等も出力されてしまうため {% endcomment %}
    {% if filter.label == 'Color' %}
      {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
      {% case filter.type %}
        {% when 'list' %}
          <details id="Details-{{ forloop.index }}-{{ section.id }}" class="disclosure-has-popup facets__disclosure js-filter" data-index="{{ forloop.index }}">
            <summary class="facets__summary caption-large focus-offset">
              <span class="facets__open">
                {% render 'icon-filter' %}
              </span>
            </summary>
            <div id="Facet-{{ forloop.index }}-{{ section.id }}" class="facets__display">

              <ul class="px-[2.5rem] pt-[1.5rem]">
              {% for link in linklists.filter-menu.links %}
                <li class="py-2"><a href="{{ link.url }}" class="text-14">{{ link.title }}</a></li>
              {% endfor %}
              </ul>

              <p class="pl-[2.5rem] mt-6 mb-2 uppercase opacity-60 text-12">COLOR:</p>

              <ul class="facets__list list-unstyled" role="list">
                {%- for value in filter.values -%}
                  {% render 'facets-filter-value', value: value, index: forloop.index %}
                {%- endfor -%}
              </ul>
            </div>
          </details>
        {% endcase %}
    {% endif %}
  {%- endfor -%}
  <noscript>
    <button type="submit" class="facets__button-no-js button button--tertiary">{{ 'products.facets.filter_button' | t }}</button>
  </noscript>
</div>