{% assign listClass = "w-10 mx-10 hover:opacity-50 transition-all" %}
<ul class="text-center flex justify-center relative left-1/2 top-1/2 -translate-x-1/2 mb-20">
  <li class="{{ listClass }}">
    <a href="{{ settings.social_instagram_link | escape }}" target="_blank" rel="noopener">{% render 'icon-instagram' %}</a>
  </li>
  <li class="{{ listClass }}">
    <a href="{{ settings.social_twitter_link | escape }}" target="_blank" rel="noopener">{% render 'icon-twitter' %}</a>
  </li>
  <li class="{{ listClass }}">
    <a href="{{ settings.social_line_link | escape }}" target="_blank" rel="noopener">{% render 'icon-line' %}</a>
  </li>
</ul>