<div class="cart__warnings">
  <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>

  {%- if shop.customer_accounts_enabled and customer == nil -%}
    <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
    <p class="cart__login-paragraph">
      {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
    </p>
  {%- endif -%}
</div>