<td class="cart-item__details">
  {%- if section.settings.show_vendor -%}
    <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
  {%- endif -%}

  <a href="{{ item.url }}" class="cart-item__name h4 break">{{ item.product.title | escape }}</a>

  {%- if item.original_price != item.final_price -%}
    <div class="cart-item__discounted-prices">
      <span class="visually-hidden">
        {{ 'products.product.price.regular_price' | t }}
      </span>
      <s class="cart-item__old-price product-option">
        {{- item.original_price | money -}}
      </s>
      <span class="visually-hidden">
        {{ 'products.product.price.sale_price' | t }}
      </span>
      <strong class="cart-item__final-price product-option">
        {{ item.final_price | money }}
      </strong>
    </div>
  {%- else -%}
    <div class="product-option">
      {{ item.original_price | money }}
    </div>
  {%- endif -%}

  {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
    <dl>
      {%- if item.product.has_only_default_variant == false -%}
        {%- for option in item.options_with_values -%}
          <div class="product-option">
            <dt>{{ option.name }}: </dt>
            <dd>{{ option.value }}</dd>
          </div>
        {%- endfor -%}
      {%- endif -%}

      {%- for property in item.properties -%}
        {%- assign property_first_char = property.first | slice: 0 -%}
        {%- if property.last != blank and property_first_char != '_' -%}
          <div class="product-option">
            <dt>{{ property.first }}: </dt>
            <dd>
              {%- if property.last contains '/uploads/' -%}
                <a href="{{ property.last }}" class="link" target="_blank">
                  {{ property.last | split: '/' | last }}
                </a>
              {%- else -%}
                {{ property.last }}
              {%- endif -%}
            </dd>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </dl>

    <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
  {%- endif -%}

  <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
    {%- for discount in item.discounts -%}
      <li class="discounts__discount">
        {%- render 'icon-discount' -%}
        {{ discount.title }}
      </li>
    {%- endfor -%}
  </ul>
</td>