{% assign menuClass="w-10 h-10 inline-block icon-w hover:opacity-60 transition-all" %}
<div class="mt-40">
  <ul class="border-b border-accent1 pb-10 flex justify-start">
    <li class="mr-20"><a href="/pages/faq" class="text-white hover:opacity-60 transition-all">FAQ</a></li>
    <li><a href="/pages/contact" class="text-white hover:opacity-60 transition-all">CONTACT</a></li>
  </ul>
  <ul class="flex justify-start pt-10">
    <li><a href="{{ settings.social_instagram_link | escape }}" class="{{- menuClass -}}">{% render 'icon-instagram' %}</a></li>
    <li class="mx-10"><a href="{{ settings.social_twitter_link | escape }}" class="{{- menuClass -}}">{% render 'icon-twitter' %}</a></li>
    <li><a href="{{ settings.social_line_link | escape }}" class="{{- menuClass -}}">{% render 'icon-line' %}</a></li>
  </ul>
</div>