<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="">
<link rel="canonical" href="{{ canonical_url }}">
<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

{%- if settings.favicon != blank -%}
  <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
{%- endif -%}

{%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
{%- endunless -%}

<title>
  {{ page_title }}
  {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
  {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
  {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
</title>

{% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
{% endif %}

{% render 'meta-tags' %}

{% comment %} styles {% endcomment %}
{% render 'global-css-variables' %}
{{ 'base.css' | asset_url | stylesheet_tag }}
{{ 'tailwind.css' | asset_url | stylesheet_tag }}
{{ 'policy.css' | asset_url | stylesheet_tag }}

<script>
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  if (Shopify.designMode) {
    document.documentElement.classList.add('shopify-design-mode');
  }
</script>

<script src="{{ 'global.js' | asset_url }}" defer="defer"></script>