<li class="">
  <a href="{{ product.url }}">
    <dl class="products-card w-full h-full">
      <dt class="h-full mb-4">
        {% if product.featured_image != nil %}
          <img src={{ product.featured_image | image_url: width: 600, height: 787 }} class="w-full h-full object-cover object-bottom" loading="lazy">
        {% else %}
          <img src={{ 'default.jpg' | asset_img_url: '300x' }} class="w-full h-full object-cover object-bottom" loading="lazy">
        {% endif %}
      </dt>
      <dd class="w-[90%] ">
        <p class="text-11 text-10  text-base-text leading-[1.3] lineClamp3">
          {{ product.title }}
        </p>
        <p class="text-11 text-10 text-base-text font-normal">
          {{ product.price | money }}
          <span>(税込)</span>
        </p>
      </dd>
    </dl>
  </a>
</li>