{% style %}
  #banner-block-links {
    --color-bg: {{ section.settings.color_bg }};
    --section-p: {{ section.settings.padding-y }}px;
    --grid-gap: {{ section.settings.grid-gap }}px;
  }
{% endstyle %}

<div id="banner-block-links" class="[background:var(--color-bg)] py-[var(--section-p)]">
  <div class="flex flex-wrap gap-[var(--grid-gap)] justify-center items-center w-page-mobile mx-auto">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'banner_image' -%}
          <a href="{{ block.settings.link_url }}" class="flex items-center justify-center">
            <img
              src="{{ block.settings.link_image | image_url }}"
              width="{{ block.settings.half_cover_image.width }}"
              height="{{ block.settings.half_cover_image.height }}"
              class="p-[var(--grid-p-s)] md:p-[var(--grid-p)]"
              alt="{{ block.settings.link_image.alt | default: 'banner' }}"
              loading="lazy"
            >
          </a>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "banner block image links",
  "tag": "section",
  "class": "banner-block-links",
  "settings": [
    {
      "type": "color",
      "id": "color_bg",
      "label": "background color",
      "default": "#f2f2f2"
    },
    {
      "type": "range",
      "id": "padding-y",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 20,
      "label": "section padding"
    },
    {
      "type": "range",
      "id": "grid-gap",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 20,
      "label": "grid gap"
    }
  ],
  "blocks": [
    {
      "type": "banner_image",
      "name": "banner_image",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "link_image",
          "label": "画像"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "link url",
          "default": "/"
        }
      ]
    }
  ]
}
{% endschema %}
