{% style %}
  #banner-grid {
    --grid-p-s: {{ section.settings.grid-inset-padding | times: 0.75 | round: 0 }}px;
    --grid-p: {{ section.settings.grid-inset-padding }}px;
  }
{% endstyle %}

<div id="banner-grid" class="border border-accent1 md:grid md:grid-cols-2 md:items-center md:py-0">
  {% unless section.settings.grid_cover_image == nil %}
    <div class="md:w-full md:h-full {% if section.settings.section_reverse %}order-last{% endif %}">
      <img
        src="{{ section.settings.grid_cover_image | image_url }}"
        width="{{ section.settings.grid_cover_image.width }}"
        height="{{ section.settings.grid_cover_image.height }}"
        alt="{{ section.settings.grid_cover_image.alt | default: 'banner' }}"
        class="w-full h-full object-cover p-[var(--grid-p-s)] md:p-[var(--grid-p)]"
        loading="lazy"
      >
    </div>
  {% endunless %}

  <div class="p-[var(--grid-p-s)] md:p-[var(--grid-p)] md:flex md:items-center">
    <div>
      <p class="text-16">{{ section.settings.headline }}</p>
      <h2 class="text-36 mb-6">{{ section.settings.title }}</h2>
      <div>{{ section.settings.banner_desc }}</div>
      <div class="text-center md:text-left">
        {% render 'btn-link', btn_link: section.settings.button_url, btn_link_text: section.settings.button_label %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "banner grid",
  "tag": "section",
  "class": "banner-grid",
  "settings": [
    {
      "type": "image_picker",
      "id": "grid_cover_image",
      "label": "画像"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Banner Section (banner-grid)"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "2021 SS Collection"
    },
    {
      "type": "richtext",
      "id": "banner_desc",
      "label": "banner description",
      "default": "<p>example description</p>"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "button link url",
      "default": "/"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "button label text",
      "default": "VIEW MORE"
    },
    {
      "type": "range",
      "id": "grid-inset-padding",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 20,
      "label": "grid inset padding"
    },
    {
      "type": "checkbox",
      "id": "section_reverse",
      "default": false,
      "label": "section row/cols reverse or not"
    }
  ]
}
{% endschema %}
