<div class="md:grid md:grid-cols-2 md:items-center">
  {% unless section.settings.half_cover_image == nil %}
    <img
      src="{{ section.settings.half_cover_image | image_url }}"
      width="{{ section.settings.half_cover_image.width }}"
      height="{{ section.settings.half_cover_image.height }}"
      alt="{{ section.settings.half_cover_image.alt | default: 'banner' }}"
      class="w-full h-auto max-h-[66.6vw] md:h-full object-cover {% if section.settings.section_reverse %}order-last{% endif %}"
      loading="lazy"
    >
  {% endunless %}

  <div class="w-page-mobile md:w-7/10 md:max-w-[600px] mx-auto pt-12 pb-16">
    <p class="text-16">{{ section.settings.headline }}</p>
    <h2 class="text-36 mb-6">{{ section.settings.title }}</h2>
    <div>{{ section.settings.banner_desc }}</div>
    <div class="text-center md:text-left">
      {% render 'btn-link', btn_link: section.settings.button_url, btn_link_text: section.settings.button_label %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "banner half img",
  "tag": "section",
  "class": "banner-half-img",
  "settings": [
    {
      "type": "image_picker",
      "id": "half_cover_image",
      "label": "画像"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Banner half img"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "2021 SS Collection"
    },
    {
      "type": "richtext",
      "id": "banner_desc",
      "label": "banner description",
      "default": "<p>banner description</p>"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "button link url",
      "default": "/"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "button label text",
      "default": "VIEW MORE"
    },
    {
      "type": "checkbox",
      "id": "section_reverse",
      "default": false,
      "label": "section row/cols reverse or not"
    }
  ]
}
{% endschema %}
