<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="bg-base-bg1">
  <div class="w-page-mobile mx-auto question-page">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'page-title' %}
          {{ block.settings.page_title }}
      {% endcase %}
    {% endfor %}
    <ul>
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'question-block' %}
            {% if block.settings.category != blank %}
              <h2 class="mt-16 mb-8 font-bold">
                {{ block.settings.category }}
              </h2>
            {% endif %}
            <li>
              <details class="border-t border-pale-gray py-10 last:border-b cursor-pointer group">
                <summary class="relative flex justify-start items-center w-full text-14 group-hover:text-base-text ">
                  <span class="question-block-icon relative block top-0 bottom-0 right-0 mr-4 my-auto w-[10px] h-[10px] z-1 group-hover:rotate-180 transition-all duration-300"></span>
                  <strong>{{ block.settings.question }}</strong>
                </summary>
                <p class="text-14 pt-10">{{ block.settings.answer }}</p>
              </details>
            </li>
        {% endcase %}
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "FAQページ",
  "tag": "section",
  "class": "spaced-section",
  "presets": [
    {
      "category": "FAQコンポーネント",
      "name": "FAQコンポーネント"
    }
  ],
  "blocks": [
    {
      "type": "page-title",
      "name": "FAQタイトル",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "page_title",
          "label": "ページタイトル",
          "default": "FAQ"
        }
      ]
    },
    {
      "type": "question-block",
      "name": "コンポーネント",
      "limit": 16,
      "settings": [
        {
          "type": "text",
          "id": "category",
          "label": "カテゴリー"
        },
        {
          "type": "text",
          "id": "question",
          "label": "質問内容",
          "default": "質問内容を記入してください"
        },
        {
          "type": "textarea",
          "id": "answer",
          "label": "解答内容",
          "default": "解答内容を記入してください"
        }
      ]
    }
  ]
}
{% endschema %}