{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<div id="main-cart-items">
  <cart-items>
      <h1>{{ 'sections.cart.title' | t }}</h1>

    {% render 'main-cart-warnings' %}

    <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
      <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
        <div class="js-contents">
          {%- if cart != empty -%}
            <table class="cart-items">
              <tbody>
                {%- for item in cart.items -%}
                  <tr class="cart-item divider" id="CartItem-{{ item.index | plus: 1 }}">
                    {% liquid
                      render 'main-cart-media', item: item
                      render 'main-cart-total-price-sp', item: item
                      render 'main-cart-details', item: item
                      render 'main-cart-quantity', item: item
                      render 'main-cart-total-price-pc', item: item
                      render 'main-cart-remove', item: item
                    %}
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          {%- endif -%}
        </div>
      </div>

      <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
      <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
    </form>
  </cart-items>
</div>

{% schema %}
{
  "name": "t:sections.main-cart-items.name"
}
{% endschema %}
