<div class="text-white md:flex text-center">  
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'fv_2columns_section' -%}
        <div class="w-full md:w-1/2">
          <a href="{{ block.settings.url }}" class="relative flex justify-center items-center h-[100vw] md:h-screen">
            <img src="{{ block.settings.cover_image | image_url: width: 1000 }}" width="1000" height="1000" alt="{{ block.settings.cover_image.alt | default: 'bg image' }}" loading="eager" class="w-full h-full object-cover" >
            <div class="absolute">
              <h2 class="text-white text-40">{{ block.settings.title }}</h2>
              <p>{{ block.settings.headline }}</p>
            </div>
          </a>
        </div>
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Top メインビジュアル 2columns",
  "class": "fvTwoColumns",
  "tag": "section",
  "settings": [

  ],
  "blocks": [
    {
      "type": "fv_2columns_section",
      "name": "fv_2columns_section",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "背景画像"
        },
        {
          "type": "text",
          "id": "title",
          "label": "タイトル",
          "default": "MEN"
        },
        {
          "type": "text",
          "id": "headline",
          "label": "見出し",
          "default": "2021 SS Collection"
        },
        {
          "type": "url",
          "id": "url",
          "label": "リンク",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "top",
      "name": "Top メインビジュアル 2columns"
    }
  ]
}
{% endschema %}